.outlinePrimary {
    padding: 12px 30px;
    width: 200px;
    background-color: transparent;
    border: 1px solid  #2a9d8fff;
    font-size: 1em;
    border-radius: 4px;
    color: #2a9d8fff;
    cursor: pointer;
    &:hover {
        background: #2a9d8fff;
        color: beige;
        transition: .4s ease;
    }
}

.outlinePrimaryWhite {
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid  rgb(230, 230, 230);
    font-size: 1em;
    border-radius: 4px;
    color: rgb(224, 224, 224);
    cursor: pointer;
    &:hover {
        background: #2a9d8fff;
        color: beige;
        transition: .4s ease;
    }
}

.medium {
    padding: 8px 20px;
    color: beige;
    background-color: #2a9d8fff;
    outline: none;
    border: none;
    border-radius: 3px;
    margin: 20px;
}
.join {
    padding: 8px 20px;
    color: beige;
    background-color: #2a9d8fff;
    border: 3px solid #2a9d8fff;
    outline: none;
    border-radius: 6px;
    margin: 6px;
    font-size: 16px;
    width: 150px;
    &:hover {
        background-color: transparent;
        color: beige;
        border: 3px solid beige;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
}
.join-outline {
    padding: 8px 20px;
    color: beige;
    background-color: transparent;
    border: 3px solid beige;
    outline: none;
    border-radius: 6px;
    margin: 6px;
    font-size: 16px;
    width: 150px;
    &:hover {
        background-color: #2a9d8fff;
        color: beige;
        border: 3px solid #2a9d8fff;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
}