.subscribe-container {
    background-color: #333333;
    color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;

    h1 {
        font-size: 2.3rem;
        margin-bottom: 15px;
        text-align: center;
    }

    p {
        margin-bottom: 20px;
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
}

.sub-mail {
    padding: 9px 26px;
    max-width: 600px;
    text-align: center;
    border: 3px solid #2a9d8fff;
    background-color: transparent;
    outline: none;
    border-radius: 7px;
    font-size: 1.5rem;
    font-style: italic;
    transition: all .3s ease;
    &::placeholder {
        font-size: 1.2rem;
        color: #2a9d8fff;
        font-family: Roboto, sans-serif
    }

    &:focus {
        background-color: beige;
        color: #2a9d8fff;
    }
    &:hover {
        background-color: beige;
        color: #2a9d8fff;
    }
}

.sub-submit {
    font-size: 1rem;
    margin: 20px auto;
    padding: 10px 70px;
    max-width: 600px;
    text-align: center;
    color: beige;
    border-radius: 7px;
    background-color: #2a9d8fff;
    border: none;
    width: min-content;
    border: 3px solid #2a9d8fff;
    cursor: pointer;

    &:hover {
        background: transparent;
        color: #2a9d8fff;
        border: 3px solid #2a9d8fff;
        transition: all .4s ease;
    }
}

#success {
    text-align: center;
    color: green;
}