.login {
    margin: auto;
    background: url('../../assets/SeekPng.com_line-pattern-png_1659030.png');
    background-color: #333333;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    padding: 100px;

    h1 {
        // color: #2a9d8fff;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 2.1rem;
        text-transform: uppercase;
    }

    .login-container {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-radius: 5px;
        justify-content: center;
    }
    .login-form {
        margin: auto;
    }
    .name-col,
    .email-col,
    .password-col {

        flex-basis: 600px;
        height: 40px;
        color: beige;
        margin: 15px;
        padding: 8px;
        align-self: center;
        width: 50%;
        background: transparent;
        border: none;
        border-bottom: 2px solid #2a9d8fff;
        font-size: 1rem;
        

        &::placeholder {
            font-family: 'Roboto';
            font-size: 1rem;
            color: rgb(62, 190, 175);
            opacity: 1;
        }

        &:focus {
            background: #2a9d8fff;
            color: beige;
            border-radius: 4px;
            transition: all .5s ease-out;
        }
    }

    // .login-email {
    //     flex: 5;
    //     margin: 10px;
    // }

    .login-name,
    .password,
    .login-email {
        display: flex;

    }
    .login-submit {
        align-self: center;
        justify-self: center;
        margin-top: 20px;
    }
    .login-button {
        color: beige;
        padding: 10px 30px;
        background-color: transparent;
        border: 2px solid #2a9d8fff;
        border-radius: 4px;
        font-size: 1rem;
        text-transform: uppercase;
        margin: auto;
        &:hover {
            background: #2a9d8fff;
            transition: all .5s ease-in-out;
        }
    }
}